<aside class="sidebar">
  <h1 class="title">
    <a href="/" class="plain">Eryb's Space<span id="loader"></span></a>
  </h1>
  <hr />
  <!-- <div class="tags-list">
    {% for tag in site.tags %}
    <span class="post-tag">{{ tag[0] }}</span>
    {% endfor %}
  </div>
  <hr /> -->
  <footer>
    <div class="email">
      <span><i class="fas fa-envelope"></i></i>&nbsp;eryb[at]protonmail.com</span>
    </div>
    <div class="feed">
      <span><i class="fas fa-rss"></i>&nbsp;<a class="plain" href="/feed.xml">Feed</a></span>
    </div>
  </footer>
</aside>